.home-content-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80%;
  font-family: 'Roboto';
  padding-bottom: 3rem;
}

.home-content-image {
  width: 14vw;
  margin-bottom: 0;
}

.home-content-header {
  color: #6d396b;
  font-size: 4rem;
  font-weight: 550;
  margin-top: 1rem;
}
