.contact-content-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80%;
  font-family: 'Roboto';
  padding-bottom: 3rem;
}

.contact-content-image {
  width: 45vw;
  margin-bottom: 1rem;
}

.contact-content-header {
  color: #6d396b;
  font-size: 3rem;
  font-weight: 550;
  margin-top: 1rem;
}

@media (min-width: 992px) {
  .contact-content-image {
    width: 14vw;
    margin-bottom: 0;
  }

  .contact-content-header {
    font-size: 4rem;
    margin-top: 1rem;
  }
}
